<template name="channel">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-positive" data-ion-modal="search">
      {{> ionIcon icon='ios-search'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

    {{#if user}}
      <button class="button button-clear pull-right button-positive" data-ion-modal="newChannel">
        {{> ionIcon icon='ios-plus-empty'}}
      </button>
    {{/if}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Channel</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each channels}}
          {{> _channelItem channel=this path="channels.show"}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
