<template name="appLayout">

  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}


      {{#ionTabs style="android"}}
        {{> ionTab title="Channel" path="trending" icon="android-star"}}
        {{> ionTab title="Recent" path="recent" icon="android-time"}}
        {{> ionTab title="Notifications" path="notifications" icon="android-notifications"}}
        {{> ionTab title="Profile" path="profile" icon="android-happy"}}
      {{/ionTabs}}

  {{/ionBody}}

</template>
