<template name="appLayout">

  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}

      {{#ionTabs style="android"}}
        {{> ionTab title="Channels" path="channel" icon="pound"}}
        <!-- {{> ionTab title="Channel" path="recent" icon="android-time"}} -->
        {{> ionTab title="Notifications" path="notifications" icon="android-notifications"}}
        {{> ionTab title="Profile" path="profile" icon="android-happy"}}
      {{/ionTabs}}

  {{/ionBody}}

</template>
