<template name="productsShow">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="share-product" data-product-id="{{product._id}}">
      {{> ionIcon icon='ios-upload-outline'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Details</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="product-detail">

        {{#with product}}

          {{#ionItem iconLeft=true iconRight=true class="item-text-wrap"}}
            {{> ionIcon icon="pound" }}
            <h2 class="product-title">
              <a href="{{url}}" target="_blank" class="positive">{{name}}</a>
            </h2>

          {{/ionItem}}

        {{/with}}

        <div class="padding product-detail-comments">
          <h5>Chat</h5>
          


          <div class="list" style="height:250px; overflow-y:scroll;">
            {{#each comments}}
              {{> _xcomment}}
            {{/each}}
          </div>


          {{#autoForm collection="Comments" id="comments-new-form" type="insert" preserveForm="false"}}
            <div>
              {{> afQuickField name='productId' type="hidden" value=product._id label=false}}
              {{> afQuickField rows='3' name='body'}}

              <button type="submit" class="button button-positive button-clear">Submit</button>
            </div>
          {{/autoForm}}

          
        </div>

      </div>

    {{/ionContent}}
  {{/ionView}}
</template>
